# Nextflow core files
.nextflow*
work/
.nextflow.log*

# Input Data and Results (Do not commit these!)
datafiles/
results/

# System files
.DS_Store
Thumbs.db

# IDE settings (optional but recommended)
.vscode/
.idea/# pixi environments
.pixi/*
!.pixi/config.toml
