manifest {
    name            = 'nf-illumina2lineage'
    author          = 'Abhinav Mishra'
    homePage        = 'https://github.com/bibymaths/nf-illumina2lineage'
    description     = 'SARS-CoV-2 genome assembly and lineage analysis pipeline'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '1.0.0'
}

params {
  reads        = "*.fastq.gz"
  reference    = "reference.fasta"
  outdir       = "results"
  intermediate = "datafiles"
}

process {
  executor = 'local'

  // Set global limits slightly below hardware max to keep the OS responsive
  maxCpus   = 94
  maxMemory = '490 GB'

  // Default values for simple processes (download, reference, etc.)
  cpus   = 1
  memory = '8 GB'
  time   = '24h'

  // --- IO-Heavy / Lightweight Steps ---
  withName: 'downloadData|referenceGenome|consensusGeneration' {
    cpus   = 1
    memory = '4 GB'
  }

  // --- CPU-Scalable Steps ---

  // QC: FastQC and fastp scale well with threads
  withName: 'qc' {
    cpus   = 16
    memory = '16 GB'
  }

  // Mapping: Minimap2 is very fast but loves cores
  withName: 'mapping' {
    cpus   = 32
    memory = '32 GB'
  }

  // Clipping: Your script passes ${task.cpus} to bamclipper -n
  withName: 'primerClipping' {
    cpus   = 16
    memory = '16 GB'
  }

  // Variant Calling: Freebayes is single-threaded.
  // We keep cpus=1 so Nextflow can run up to 94 samples in parallel.
  withName: 'variantCalling' {
    cpus   = 1
    memory = '16 GB'
  }

  // Consensus QC & Lineage
  withName: 'pangolinLineage|consensusQC' {
    cpus   = 8
    memory = '16 GB'
  }

  // Phylogeny: IQ-TREE and MAFFT scale massively. Give them the "whole house".
  withName: 'phylogeny' {
    cpus   = 8
    memory = '32 GB'
  }
}

// Execution Reports
report {
  enabled   = true
  file      = "${params.outdir}/report.html"
  overwrite = true
}

timeline {
  enabled   = true
  file      = "${params.outdir}/timeline.html"
  overwrite = true
}

trace {
  enabled   = true
  file      = "${params.outdir}/trace.txt"
  overwrite = true
}

dag {
  enabled   = true
  file      = "${params.outdir}/pipeline_dag.html"
  overwrite = true
}

profiles {
  standard {
    process.executor = 'local'
  }
  conda {
        conda.enabled = true
  }
  docker {
    docker.enabled = true
    docker.runOptions = '-u $(id -u):$(id -g)'
  }
}